<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdxt.mapper.ContractMapper">

    <!--查询到过期时间的合同-->
    <select id="getExpireTime" resultType="com.gdxt.vo.ContractVo">
        select expire_time from contract
        <where>
            <if test="name != null">
                and  name = #{name}
            </if>
            <if test="masterName != null">
                and master_name = #{masterName}
            </if>
            <if test="number != null">
                and number = #{number}
            </if>
        </where>
     </select>

     <!--停用合同-->
    <update id="updateStatus">
        update contract
        <set>
            <if test="status != null">
                status = 0,
            </if>
        </set>
        where number = #{contractNumber}
    </update>
</mapper>
